/* border box and clearfix styles */

html,body {
  margin: 0 0 0 0;
  background-color: #523e33;
}

/* THREE GRID LAYOUT */

.span_3_of_3 {
	width: 100%; 
}

.span_2_of_3 {
	width: 63%; 
	margin-right: 2.5%;
}

.span_1_of_3 {
	width: 30%; 
	margin-left: 2.5%;
}

/*  HEADER */

header {
	text-align: center;
	position: fixed;
	top: 0;
	height: 9.5rem;
	background-color: #523e33;
	font-family: 'Inder', sans-serif;
	z-index: 5;
  box-shadow: 0px 5px 50px white;
}

header img {
	position: absolute;
	top: 0;
	bottom: 0;
	margin-top: auto;
	margin-bottom: auto;
	display: inline-block;
	height: 10vw;
	max-height: 100px
}

header a {
	text-decoration: none;
	color: white;
}

header h1 a {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	font-size: 3.5rem;
	letter-spacing: .2rem;
	text-decoration: none;
}


header li {
	display: inline-block;
	margin-left: .5rem;
	margin-right: .5rem
}

header ul {
	position: relative;
	bottom: .8rem;
	display: inline;
	text-decoration: none;
	margin: 0;
	padding: 0;
}

/*  MAIN CONTENT STRUCTURE */

.banner {
	margin-right: 2.5%;
	margin-left: 2.5%;
}

.page_content {
	position: relative;
	top: 8rem;
	padding-bottom: 3rem;
}

article {
	position: relative;
	top: 8rem;
	background-color: #d6e8b8;
}

section {
	position: relative;
	float: right;
	background-color: #94877e;
}

aside {
	padding-top: 1rem;
	position: relative;
	background-color: #94c840;
	padding-bottom: .5rem;
	margin-bottom: 13rem;
}

/*  MAIN CONTENT IMAGE STRUCTURE */

.logo_left {
	position: absolute;
	display: block;
	max-height: 90%;
	left: 2.5%;
	top: 5%;
}

.logo_right {
	position: absolute;
	display: block;
	max-height: 90%;
	top: 5%;
	right: 2%;
}

section img {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px white;
}

aside img {
	display: block;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3rem;
	margin-bottom: 3rem;
	border: solid 2px white;
}

/*  MAIN CONTENT TEXT STRUCTURE */

article h2 {
	font-family: 'Inder', sans-serif;
	text-align: center;
	color: #523e33;
	font-size: 4vw;
	position: relative;
	top: 1rem;
}

article p {
	font-family: 'Philosopher', sans-serif;
	width: 50%;
	font-size: 1.2rem;
	display: block;
	position: relative;
	top: -1rem;
	margin-left: auto;
	margin-right: auto;
	background-color: #d6e8b8;
	line-height: 1.5rem;
	padding: .75rem;
}

section h2 {
	font-family: 'Inder', sans-serif;
	text-align: center;
	color: white;
	font-size: 3vw;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	border: solid 2px white;
}

section p {
	font-family: 'Philosopher', sans-serif;
	width: 70%;
	font-size: 1.2rem;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #d6e8b8;
	padding: .75rem;
	line-height: 1.5rem;
	border: solid 2px #523e33;
}

.aside_title {
	position: relative;
	top: -.5rem;
}

aside h3 {
	font-family: 'Inder', sans-serif;
	text-align: center;
	color: white;
	font-size: 2vw;
}

aside h4 {
	font-family: 'Inder', sans-serif;
	text-align: center;
	color: white;
	font-size: 1.75rem;
}

aside ul li {
	display: block;
	text-decoration: none;
	font-family: 'Philosopher', sans-serif;
	line-height: 1.5rem;
}

aside ul {
	display: block;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
	padding-top: .5rem;
	padding-bottom: .5rem;
	text-align: center;
	background-color: #d6e8b8;
	width: 60%;
	border: solid 2px #523e33;
}

aside p {
	font-family: 'Philosopher', sans-serif;
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #d6e8b8;
	padding: .75rem;
	font-size: 1.2rem;
	border: solid 2px #523e33;
}

/* FOOTER */


footer {
	background-color: #523e33;
	line-height: .5rem;
	color: white;
	position: fixed;
	bottom: 0;
	height: 10rem;
	text-align: center;
	-webkit-box-shadow: 0px 5px 50px white;
	-moz-box-shadow: 0px 5px 50px white;
	box-shadow: 0px 5px 50px white;
}

footer h3 {
	position: relative;
	top: 1rem;
	font-family: 'Inder', sans-serif;
	text-align: center;
}

footer h4 {
	position: relative;
	top: .8rem;
	font-family: 'Inder', sans-serif;
	text-align: center;
}

footer ul {
	position: relative;
	top: .4rem;
	display: inline-block;
	text-decoration: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

footer li {
	display: inline-block;
	text-decoration: none;
}

footer a {
	display: inline-block;
	text-decoration: none;
	color: white;
}

footer p {
	position: relative;
	top: .5rem;
}
	