* { box-sizing: border-box;}

header {
  position: fixed;
  top:  0px;
  width: 100%;
  background-color: white;
}

.logo {
  float: left;
  width: 10%;
  display: block;
}

h1 {
  float: left;
  text-align: center;
  width: 90%;
  font-size: 3rem;
  margin-top: 1.2rem;
}

header img {
  height: 100px;
  width: 100px;
}

header a {
    text-decoration: none;
}

header nav {
  clear: both;
}

header ul {
  list-style-type: none;
}

header li {
  width: 14.27%;
  float: left;
  font-size: 1.3rem;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.associations {
  margin-top: 165px;
}